@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
* {
    box-sizing:border-box;
}
body
{
    font-family: 'Yomogi',sans-serif;
    margin: 0;
    display: flex;    
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}